@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: 'FF DIN';
  src: url('/public/fonts/FF-DIN.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN';
  src: url('/public/fonts/FF-DIN-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN';
  src: url('/public/fonts/FF-DIN-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN Exp';
  src: url('/public/fonts/FF-DIN-Exp.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN Exp';
  src: url('/public/fonts/FF-DIN-Exp-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN Exp';
  src: url('/public/fonts/FF-DIN-Exp-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN Condensed';
  src: url('/public/fonts/FF-DIN-Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FF DIN Condensed';
  src: url('/public/fonts/FF-DIN-Condensed-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e5e5;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #51565d;
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
